.container {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
}
input, select {
    background-color: var(--bg-nav);
    border: none;
    line-height: 2;
}
.btn-main {
    background-color: var(--bg-btn-main);
    border: none;
    color: #ffffff;
    padding-block: 6px;
    padding-inline: 12px;
    border-radius: 12px;
    font-size: 1.3rem;
    width: 50%;
    display: flex;
    justify-self: right;
    justify-content: center;
}
.divider {
    width: 100%;
    height: 2px;
    background-color: var(--bg-btn-main);
}
