/*to use, link also general and theme css files on /config*/
*  {box-sizing: border-box;}

body {
    margin: 0;
    background-color: var(--bg-body);
    color: var(--text-secondary);
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}

/*default fonts*/
.text-primary {color: var(--text-primary);}
.text-secondary {color: var(--text-secondary);}

/*flex colums and rows*/
.col,.row {display: flex;}
.col {flex-direction: column;}
.row {flex-direction: row;}

.col-cent {
    height: 100%;
    justify-content: center;
}   

.space-between {justify-content: space-between;}

/*default full size container*/
.container {
    width: 100%;
    background-color: var(--bg-container);
    padding: var(--container-padding);
}
/*Widths*/
.w-100 {width: 100%;}
.w-75 {width: 75%;}
.w-50 {width: 50%;}
.w-25 {width: 25%;}
.w-10 {width: 10%;}

/*grids*/
.grid-rows-1,
.grid-rows-2,
.grid-rows-3,
.grid-rows-4,
.grid-rows-5,
.grid-rows-6,
.grid-rows-auto-2 {
    display: grid;
}
.grid-rows-1 {grid-template-columns: repeat(1, 2fr);}
.grid-rows-2 {grid-template-columns: repeat(2, 2fr);}
.grid-rows-3 {grid-template-columns: repeat(3, 2fr);}
.grid-rows-4 {grid-template-columns: repeat(4, 2fr);}
.grid-rows-5 {grid-template-columns: repeat(5, 2fr);}
.grid-rows-6 {grid-template-columns: repeat(6, 2fr);}
/*auto scale grid*/
.grid-rows-auto-2 {grid-template-columns: repeat(2,2fr);}

/*NAVBAR STYLES*/

.text-user-navbar-header {
    margin-left: 5px;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 120px;
}
.text-user-navbar {
    margin-left: 5px;
    font-size: 0.6rem;
}
.text-user-navbar-secondary {
    margin-left: 5px;
    font-size: 0.8rem;
}
.user-navbar {
    width: 240px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--bg-container);
    padding: var(--container-padding);
    border: var(--bg-btn-main) solid 2px;
}
.user-navbar-open {
    width: 240px;
    height: 100%;
    border-radius: 24px;
    background-color: var(--bg-container);
    padding: var(--container-padding);
    border: var(--bg-btn-main) solid 2px;
}

.navbar {
    max-width: 1020px;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background-color: var(--bg-container);
    padding: var(--container-padding);
    padding-inline: 20px;
    position: fixed;
    top: 0;
    left: calc(50% - 510px);
}

.navbar-btn{
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-btn-main);
    color: white;
    padding-inline: 20px;
}

.navbar-btn:hover{
    cursor: pointer;
}

/*FIXED POSITIONS */
.pos-top,
.pos-bot,
.pos-left,
.pos-right {
    position: fixed;
}
.pos-top {top: 0;}
.pos-bot {bottom: 0;}
.pos-left {left: 0;}
.pos-right {right: 0;}

/*margin*/
.mrg-15 {
    margin: 15px;
}
.mrg-10 {
    margin: 10px;
}
.mrg-5 {
    margin: 5px;
}
.mrg-in-15 {
    margin-inline: 15px;
}
.mrg-in-10 {
    margin-inline: 10px;
}
.mrg-in-5 {
    margin-inline: 5px;
}


@media (max-width:600px) {
    .grid-rows-auto-2 {
        grid-template-columns: repeat(1,1fr);
    }
}