h1{
    margin-top: 15px;
}

.center{
    position: relative;
    left: 50%;
    transform: translateX(-25%);
}

.filters-container{
    background-color: var(--bg-container);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    max-height: 550px;
}

.search-btn{
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-btn-main);
    padding-inline: 20px;
    position: relative;
    left: calc(100% - 50px);
}

.result-container{
    max-width: 800px;
}

.result{
    background-color: #838383;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: 250px;
    max-height: 500px;
}

.result-text,.result-header,.result-btn,.search-btn{
    color: white;
}

.result-btn{
    margin-top: 15px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-btn-main);
    padding-inline: 20px;
    text-align: center;
    justify-items: center;

    text-decoration: none;
}

.result-btn:hover,.search-btn:hover{
    cursor: pointer;
}

.main-content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}