
.text-primary {
     white-space: nowrap;
    overflow: hidden; 

}


input[type=submit] {
   width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: var(--bg-btn-main);
  }

  .submit:hover {
    cursor: pointer;
    background-color: black;

  }

body {
  background-color: #f0f4f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  border: 8px solid var(--bg-btn-main);
  border-radius: 40px;
  padding: 30px 40px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}


form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home-icon {
  text-decoration: none;
  font-size: 20px;
}

.create-account {
  text-decoration: none;
  color: #008080;
  font-weight: bold;
}